# Files in rootfs
type bat_file, file_type;
type demoapp_file, file_type;
type log_file, file_type;
type xrom_file, file_type;

# Files in userdata
type qmipriod_data_file, file_type, data_file_type;

# Files in sysfs
type sysfs_battery_supply, sysfs_type, fs_type;
